<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <footer>
    <p>Panasecure</p> 
    <p>Pour signaler des erreur, veuillez nous contacter via l'adresse suivante : admin@panasecure.online</p>
  </footer>
</body>

</html>