.fichiers {
    margin-left: 40%;
    margin-top: 10%;
}

ul {
    padding: 0;
    width: 100%;
}

li {
    display: list-item;
}

a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 20%;
    margin-bottom: 1%;
    text-align: left;
    padding-left: 2%;
    line-height: 3;
    color: black;
}


a:link,
a:visited,
a:focus {
    background: rgb(161, 210, 236);
}

a:hover {
    background: rgb(110, 176, 194);


}

button {
    display: inline-block;
    background-color: #a3dae9;
    border-radius: 10px;
    border: 2px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: rgb(148, 185, 245);
}


.icon-bar-nav {
    width: 100%;
    background-color: #b8e4d7;
    overflow: auto;
}

.icon-bar-nav a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar-nav a:hover {
    background-color: #72dde0;
}

.active-nav {
    background-color: #72dde0;
}

/* Page commune */

section {
    font-family: 'Montserrat', sans-serif;
    color: rgb(15, 15, 15);
}


/* Page 0 : Index */

.fondecran {
    position: fixed;
    width: 100%;

}

#fondecran {
    z-index: 1;
}

#sliding {
    z-index: 2;
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

section .FondIndex {
    background-size: cover;
    width: 100%;
    display: inline-block;
}

section .FondIndex.img1 {
    background-image: url(./images/index/background1.jpg);
}

section .FondIndex.img2 {
    background-image: url(./images/index/background2.jpg);
}

section .FondIndex.img3 {
    background-image: url(./images/index/background3.jpg);
}

section .BoxIndex {
    max-width: 350px;
    margin: 50px;
    border: 20px solid #fff;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section .FondIndex .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}




section .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

section .contenu .box {
    max-width: 350px;
    width: 100%;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

section .contenu .box .imbox {
    position: relative;
    width: 100%;
    height: 300px;
}

section .contenu .box .imbox img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

section .contenu .box .text {
    text-align: center;
    font-weight: 300px;
    color: #111;
}

section .Box .form .h3 {
    text-align: center;
    font-weight: 300px;
    color: #111;
}

section .contenu .box .text h3 {
    font-weight: 400;
}



/* Footer */

footer {
    z-index: 10;
    background: linear-gradient(#037df7, #00468b, #001d3a);
    position: relative;
    bottom: 0%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: linear-gradient(to top, #c6f2e4 0%, #bfedf9 100%);
}

foxer h3 {
    color: white;
}

footer p {
    cursor: pointer;
    color: #ccc;
    transition: color 1s;
}

footer p:hover {
    color: white;
    text-decoration: underline;

}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 5px solid #ddd;
}

th,
td {
    text-align: center;
    padding: 20px;
}

th:first-child,
td:first-child {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    width: 100%;
}

/* Page chat */

#conv {
    background-color: #b8e4d7;
    width: 60%;
    border-radius: 20px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#message-form {
    background-color: #b8e4d7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

#msg-input {
    width: 60%;
    resize: both;
    margin: 1em;
}

#msg-button {
    background-color: rgb(161, 210, 236);
    color: black;
    border-radius: 30px;
    padding: 1%;
    margin-left: 2%;
}

/* Page chat */
#form-portal {
    background-color: rgb(161, 210, 236);
    width: 40%;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

#file-password {
    margin-bottom: 1%;
}