<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/css/style.css" />
        <title>Panasecure | Accueil</title>
  </head>
  <body>
	<%- include('../partials/navbar') %>
        <section>
			<div class="FondIndex img1">
				<div class="BoxIndex">
					<h1>Panasecure</h1>
                    <h2>Gardons le secret médical</h2>
                    
				</div>
                
				<div class="contenu">
					<div class="box">
						<div class="imbox">
							<img src="/images/chiffrement.jpg" alt="Photo : Chiffrement sécurisé" ></a>
						</div>
						<div class="text">
							<h3>Chiffrement sécurisé</h3>
						</div>
					</div>
					<div class="box">
						<div class="imbox">
							<img src="/images/transfert d'informations.jpg" alt="Photo : transfert des informations" ></a>
						</div>
						<div class="text">
							<h3>Rapidité du transfert des informations</h3>
						</div>
					</div>
					<div class="box">
						<div class="imbox">
							<img src="/images/modération.jpg" alt="Photo : Modération" ></a>
						</div>
						<div class="text">
							<h3>Efficacité de la modération</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
	<%- include('../partials/footer') %>
  </body>

</html>