<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css" />
<style>


</style>
</head>
  <body>
    <%- include('../partials/navbar') %>

  <h2>HISTORIQUE</h2>

    <table>
      <tr>
        <th style="width:50%">noms des fichiers</th>
        <th>patient</th>
        <th>docteur</th>
        <th type = "date">date de modification</th>
      </tr>
      <tr>
        <td>Sample text</td>
        <td><i class=></i></td>
        <td><i class=></i></td>
      </tr>
      <tr>
        <td>Sample text</td>
        <td><i class=></i></td>
        <td><i class=></i></td>
      </tr>
      <tr>
        <td>Sample text</td>
        <td><i class=></i></td>
        <td><i class=></i></td>
      </tr>
      <tr>
        <td>Sample text</td>
        <td><i class=></i></td>
        <td><i class=></i></td>
      </tr>
      <tr>
        <td>Sample text</td>
        <td><i class=></i></td>
        <td><i class=></i></td>
      </tr>
    </table>
  <%- include('../partials/footer') %>
  </body>
</html>
