<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test chat</title>
    </head>

    <body>
        <div id="conv"></div>
        <form method="POST" action="/send">
            <input type="text" id="msg" name="message" placeholder="Entrez votre message" required> 
            <button>Send</button>
        </form>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </body>
</html>