<head>
    <title>S'inscrire </title>
    <link rel="stylesheet" href="style2.css" />

</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="overlay">

        <form>
            <div class="con">
                <header class="head-form">
                    <h2>Inscription</h2>
                    <p>Inscrivez-vous pour créer un compte</p>
                </header>
                <br>
                <div class="field-set">
                    <form action="/signup" method="GET">
                        <span class="input-item">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <!--   user name Input-->
                        <input class="form-input" id="txt-input" type="text" placeholder="Prénom" name="firstname" required>

                        <br>

                        <!--   user name -->
                        <span class="input-item">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <!--   user name Input-->
                        <input class="form-input" id="txt-input" type="text" placeholder="Nom" name="name" required>

                        <br>

                        <span class="input-item">
                            <i class="fa fa-user-circle"></i>
                        </span>

                        <!--   social security number Input-->
                        <input class="form-input" id="txt-input" type="text" placeholder="Numéro de sécurité sociale" name="numsecu" required>

                        <br>

                        
                        <!--   username -->
                        <span class="input-item">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <!--   username Input-->
                        <input class="form-input" id="txt-input" type="text" placeholder="Username" name="username" required>

                        <br>


                        <!--   user name -->
                        <span class="input-item">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <!--   user name Input-->
                        <input class="form-input" id="txt-input" type="text" placeholder="Email" name="email" required>

                        <br>

                        <!--   Password -->

                        <span class="input-item">
                            <i class="fa fa-key"></i>
                        </span>
                        <!--   Password Input-->
                        <input class="form-input" type="password" placeholder="Mot de passe" id="pwd" name="password"
                            required>

                        <br>
                        <!--   Password confirmation-->

                        <span class="input-item">
                            <i class="fa fa-key"></i>
                        </span>
                        <!--   Password Input-->
                        <input class="form-input" type="password" placeholder="Confirmation du mot de passe" id="pwd"
                            name="passwordconfirm" required>
                        <br>
                        <!--      Show/hide password  -->
                        <span>
                            <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>

                        </span>
                        <br>


                        <!--        buttons -->
                        <!--      button LogIn -->
                        <button class="log-in">S'inscrire </button>
                    </form>
                </div>







                <!--   End Conrainer  -->
            </div>

            <!-- End Form -->
        </form>
    </div>
</body>